/* reset */

*{
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



*{
    color: white;
    font-family: 'Inter', sans-serif;
}

/* content */
.navbar-hide{
    display: flex;
}
navbar{
 position: absolute;
 display: flex;  
 flex-direction: column;
 right: 0;
 height: 100vh;
 width: 100%;
 justify-content: start;
 align-items: flex-end;
 padding-top: 8rem;
 background-color: black;
 z-index: 100;
 transition: transform 700ms ease-out;
 transform: translateX(100%);
 /* opacity: 0; */
 
}
navbar.open{
   
    transform: translateX(0%);
    /* opacity: 1; */
}

navbar a{
    margin-right: 2rem;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -2px;
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
    padding-left: 0;
    background: none;
}
navbar a:hover{
    background-color: white;
    color: black;
}

/* hamberger test */

#toggle {
    display: none;
  }
  
  /**
    Hamburger
  **/
  .hamburger {
    display: block;
    position: absolute;
    top: 6em;
    right: 5%;
    margin-left: -2em;
    margin-top: -45px;
    width: 3em;
    height: 45px;
    z-index: 101;
    cursor:pointer;
    }
  
  .hamburger div {
    position: relative;
    width: 2.2em;
    height: 2px;
    border-radius: 3px;
    background-color: #ffffff;
    margin-top: 6px;
    transition: all 0.3s ease-in-out;
    }
  #toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 12px;
  }
  #toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
  }
  #toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -2px;
  }
  
  #toggle:checked + .hamburger + .nav {
    top: 0;
    transform: scale(1);
  }

body{
    background-color: black;
    padding-right: 0.1rem;
    padding-left: 0.1rem;
    position: fixed;
}
a{
    text-decoration: none;
}
.collection-container{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
}
.hero-text{
    padding-top: 8rem;
    width: 100vw;
    padding-bottom: 2rem;
}


.btn-primary{
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #6F29E1;
    font-family: 'Jockey One', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    z-index: 10;
    margin-left: 0;
    animation: color-animation 4s infinite linear alternate;
}
.btn-primary:hover{
    background-color: white;
    color: black;
    animation: none;
}

@keyframes color-animation {
    0% {
       background: #6F29E1;
    }
    100% {
       background: #F1473D;
    } 
}






.img-container{
    display: block;
}

.img-two {
    width: 66%;

    position: fixed;
    bottom: 0px;
    left: 35%;
    transition: all 1s ease-out;
    }
        .img-name-two {
            transform: rotate(-90deg);
            position: fixed;
            bottom: 13rem;
            left: 6rem;
            z-index: 2;
            font-family: 'Inter', sans-serif;
            font-size: 0.1rem;
            }
.img-two:hover{
    rotate: 2deg;
    
}
.img-one {

    position: fixed;
    bottom: 0px;
    left: -4%;
    z-index: 1;
    width: 48%;
    }
        .img-name-one {
            transform: rotate(-90deg);
            position: fixed;
            bottom: 4rem;
            left: 13rem;
            z-index: 2;
            font-family: 'Inter', sans-serif;
            font-size: 0.1rem;
            }
.rotate{
    transform: rotate(-90deg)!important;
}
.about{
    display: static;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    letter-spacing: -0.2rem;
    position:fixed;
    bottom:2.5%;
    right:2rem;
    z-index: 100;
    transform: translateX(180%);
    transition: transform 700ms ease-out;
}
.about.open{
    transform: translateX(0%);
}
.about:hover{
    background-color: white;
    color: black;
}


.date{
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    letter-spacing: -0.2rem;
    position:fixed;
    bottom:2.5%;
    left:2%;
    z-index: 5;
    /* color: white;
    background:none; */
    color: black;
    background:white;
}
/* .date:hover{
    color: black;
    background:white;
} */

/* .fix{
    position:fixed;
    bottom:0px;
    left:50%;
} */
@media (max-height:440px){
    .img-container{
        display: none;
    }
    .date{
        display: none;
}
}

@media (min-width:375px)  {

    .img-name-one {

        left: 11rem;
       
        }
    
    .img-name-two {
    
        left: 6rem;
        }


}

@media (min-width:400px)  {

    .img-name-one {

        left: 11rem;
       
        }
    
    .img-name-two {
    
        left: 8rem;
        }


}





@media (min-width:500px)  {
    .btn-primary{
        align-self: flex-start;
        background-color: #F1473D;
    }
    .hero-text{
        
        padding-bottom: 0.5rem;
    }
    .img-name-one {

        left: 15rem;
       
        }
    
    .img-name-two {
    
        left: 9rem;
        }


}

@media (min-width:600px) {
    .hamburger {
        display: none;
    }
    .hero-text {
        padding-top: 8rem;
    }
    .img-two {
        width: 59%;
    }
    .img-name-one {

       display: none;
       
        }
    
    .img-name-two {
    
        display: none;
        }
    .about{
        transform: translateX(0%);
    }
    navbar{
        position: absolute;
     display: flex;  
     flex-direction: row;
     right: 0;
     height: 4rem;
     width: 100%;
     justify-content: start;
     align-items: center;
     padding-top: 0rem;
     background-color: black;
     z-index: 100;
     padding-left: 30%;
     transform: translateX(0%);
     transition: none;
     opacity: 1;
    }
    
    navbar a{
        margin-right: 2rem;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: -2px;
        font-family: 'Inter', sans-serif;
        margin-top: 10px;
    }
}

@media (min-width:600px) {
   
    .img-one{
        left: 13%;
        width: 28%;
    }

    .img-two {
    width: 36%;
    position: fixed;
    bottom: 0px;
    left: 52%;
    }
}

@media (min-width:1000px){
        .hero-text {
            padding-top: 4rem;
        }

        .img-one{
            left: 13%;
            width: 32%;
        }

        .img-two {
        width: 44%;
        position: fixed;
        bottom: 0px;
        left: 52%;
        }
        .btn-primary{
            font-size: 2rem;
            letter-spacing: -0.2rem;
            margin-left: 3.5rem;
        }
}


@media (min-width:1000px){
    .hero-text {
        padding-top: 4rem;
    }

    .img-one{
        left: 13%;
        width: 32%;
    }

    .img-two {
    width: 36%;
    position: fixed;
    bottom: 0px;
    left: 52%;
    }
    .img-name-one {

        left: 6rem;
       
        }
    
    .img-name-two {
    
        left: 31rem;
        }

}


@media (min-width:1300px){
    .hero-text {
        padding-top: 8rem;
    }
    .img-one{

        width: 28%;
    }
    
.img-two {
    width: 29%;
    position: fixed;
    bottom: 0px;
    left: 60%;
}
.img-name-one {

    left: 9rem;
   
    }

.img-name-two {

    left: 51rem;
    }

}

@media (min-width:1900px){
    .hero-text {
        padding-top: 6rem;
    }
    .btn-primary {
        font-size: 2rem;
        letter-spacing: 0;
        margin-left: 3.5rem;
        }
        .img-one{

            width: 26%;
        }
.img-two {
    width: 25%;
    position: fixed;
    bottom: 0px;
    left: 60%;
}
/* 2 */
.img-name-one {

    left: 9rem;
   
    }

.img-name-two {

    left: 51rem;
    }

}


/* aniation  */

body {
    opacity: 0;
    left: -100%;
    transition: opacity 700ms ease-in;
}

.show-time body {
    opacity: 1;
    left: 0;
}



